@model KanbanProjectMvc.Models.BoardColumn

@{
    ViewBag.Title = "Create Column";
    var boardId = ViewBag.BoardId;
    var boardName = ViewBag.BoardName;
}

<h2>Add column to Board:@boardName</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <input name="boardId" type="hidden" value="@boardId"/>
    <div class="form-horizontal">
        <h4>Please fill out the following fields</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ColumnName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ColumnName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ColumnName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
