@model IEnumerable<KanbanProjectMvc.Models.KanbanBoard>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BoardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Columns)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BoardName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {id = item.KanbanBoardId}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.KanbanBoardId})
            </td>
        </tr>
    }

</table>